@import '~antd/dist/antd.less';

* {
  @font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}
/*
--------- Header Container ---------
*/
.header-container { 
  background-image: url(./images/background-header-1.svg);
  padding: 100px 0;
}
  .header-container h1 {
    color: white;
    font-size: 50px;
    font-weight: 900;
  }
  .header-container p {
    color: white;
    margin: 0 25px;
  }
  .header-container a {
    color: rgba(255, 255, 255, 0.842) !important;
    font-weight: 500;
  }

/*
--------- Global Container ---------
*/

  .global-container {
    padding: 100px 0;
    background-color: #FAFBFD;
  }
  .global-container h1 {
    font-size: 35px;
  }